<h1>Current path: <%= @current_path %></h1>

<table class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Filename</th>
      <th scope="col">Size</th>
      <th scope="col">Created</th>
      <th scope="col">Last modified</th>
    </tr>
  </thead>
  <tbody>
    <% @directory.each do |entry| %>
    <tr>
      <td><a class="<%= File.file?("#{@path}#{entry}") ? 'file': 'directory' %>"
        href="/<%= "#{@path}#{entry}" %>">
        <%= entry %>
      </a></td>
      <% if File.exists?("#{@path}#{entry}") %>
        <td>
          <%= number_to_human_size File.size("#{@path}#{entry}") %>
        </td>
        <td>
          <%= File.birthtime("#{@path}#{entry}").to_formatted_s(:short) %>
        </td>
        <td>
          <%= File.mtime("#{@path}#{entry}").to_formatted_s(:short) %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
